---
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';
// 使用 Astro.glob() 一次性访问所有文章的数据
// const allPosts = await Astro.glob('../pages/posts/*.md');
// allPosts [
//   {
//     frontmatter: [Getter],
//     file: [Getter],
//     url: [Getter],
//     rawContent: [Getter],
//     compiledContent: [Getter],
//     getHeadings: [Getter],
//     Content: [Getter],
//     default: [Function (anonymous)] {
//       isAstroComponentFactory: true,
//       moduleId: undefined,
//       propagation: undefined
//     },
//     [Symbol(Symbol.toStringTag)]: 'Module'
//   },
// ...
// ]

const allPosts = await getCollection("posts");
// console.log('allPosts', allPosts)
// allPosts [
//   {
//     id: 'learning-astro.md',
//     slug: 'learning-astro',
//     body: 'I learned so much today! Astro allows me to write in Markdown, but also use variables from the frontmatter. I can even access those values in an Astro layout component.\n',
//     collection: 'posts',
//     data: {
//       title: 'Learning About Markdown in Astro',
//       pubDate: 2022-08-08T00:00:00.000Z,
//       description: 'description',
//       author: 'Astro Learner',
//       image: [Object],
//       tags: [Array]
//     },
//     render: [AsyncFunction: render]
//   },
// ...
// ]
const title = "我的 Astro 学习博客";
---

<Layout title={title}>
	<main>
		<h1>我的 Astro 学习博客</h1>
		<p>在这里，我将分享我的学习 Astro 之旅。</p>

		<ul>
      <!-- <li><a href="/posts/post-1/">文章 1</a></li>
			<li><a href="/posts/post-2/">文章 2</a></li>
      <li><a href="/posts/post-3/">文章 3</a></li>
      <li><a href="/posts/learning-astro/">文章 4</a></li> -->

			<!-- 在博客页面上显示动态生成的文章列表 -->
			<!-- {allPosts.map((post) => (
				<li>
					<a href={post.url}>{post.frontmatter.title}</a>
				</li>
			))} -->

			<!-- 重构以使用 <BlogPost /> 组件来显示每个列表项 -->
		  {
				allPosts.map((post: any) => (
					<BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
				))
			}
    </ul>
  </main>
</Layout>

<style>

</style>
